flows.json
[
    {
        "id": "9a12c8fa74cda53c",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "85ab11406b027e76",
        "type": "http in",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "url": "/admin/class/:className",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 180,
        "wires": [
            [
                "66e73de6c0db2993"
            ]
        ]
    },
    {
        "id": "0bba2926a65d291e",
        "type": "http response",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 1190,
        "y": 180,
        "wires": []
    },
    {
        "id": "66e73de6c0db2993",
        "type": "function",
        "z": "9a12c8fa74cda53c",
        "name": "loadPathParameter",
        "func": "var className = msg.req.params.className;\n\nmsg.payload = { \n    \"className\":className\n}\nreturn msg ; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 180,
        "wires": [
            [
                "b1138bd04da0aa1a"
            ]
        ]
    },
    {
        "id": "b1138bd04da0aa1a",
        "type": "mongodb in",
        "z": "9a12c8fa74cda53c",
        "mongodb": "775aca05fbec61c7",
        "name": "",
        "collection": "tester",
        "operation": "find",
        "x": 850,
        "y": 180,
        "wires": [
            [
                "0bba2926a65d291e"
            ]
        ]
    },
    {
        "id": "4e19773304f0ad4b",
        "type": "comment",
        "z": "9a12c8fa74cda53c",
        "name": "getClassInfoAdmin",
        "info": "get class info\nFR1 Ο καθηγητής και η γραμματεία πρέπει να μπορεί να επεξεργαστεί την τάξη",
        "x": 170,
        "y": 80,
        "wires": []
    },
    {
        "id": "fc6bb4c6ba973233",
        "type": "http in",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "url": "user/:userName/class/:className",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 420,
        "wires": [
            [
                "eda1289cb72d34a0"
            ]
        ]
    },
    {
        "id": "7b64787f8ca14c7a",
        "type": "http response",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 1190,
        "y": 420,
        "wires": []
    },
    {
        "id": "eda1289cb72d34a0",
        "type": "function",
        "z": "9a12c8fa74cda53c",
        "name": "loadPathParameters",
        "func": "var className = msg.req.params.className;\nvar username = msg.req.params.userName ; \nmsg.payload = { \n    \"className\":className,\n    \"users.user.userName\":username\n}\nreturn msg ; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 420,
        "wires": [
            [
                "10d67d2b12d87f7d"
            ]
        ]
    },
    {
        "id": "10d67d2b12d87f7d",
        "type": "mongodb in",
        "z": "9a12c8fa74cda53c",
        "mongodb": "775aca05fbec61c7",
        "name": "",
        "collection": "tester",
        "operation": "find",
        "x": 850,
        "y": 420,
        "wires": [
            [
                "7b64787f8ca14c7a"
            ]
        ]
    },
    {
        "id": "c1132fd574d27abd",
        "type": "comment",
        "z": "9a12c8fa74cda53c",
        "name": "getClassInfoUser",
        "info": "get class info\nFR1 Ο καθηγητής και η γραμματεία πρέπει να μπορεί να επεξεργαστεί την τάξη",
        "x": 140,
        "y": 360,
        "wires": []
    },
    {
        "id": "c8d87f84b3237063",
        "type": "http in",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "url": "user/:userName/class/:className/chat",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 660,
        "wires": [
            [
                "5ca7bfafb8032c8c"
            ]
        ]
    },
    {
        "id": "6f24e759dcf97c72",
        "type": "http response",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 1190,
        "y": 660,
        "wires": []
    },
    {
        "id": "5ca7bfafb8032c8c",
        "type": "function",
        "z": "9a12c8fa74cda53c",
        "name": "loadPathParameters",
        "func": "// var className = msg.req.params.className;\n// var username = msg.req.params.userName ; \n// msg.payload = { \n//     \"className\":className,\n// }\nreturn msg ; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 660,
        "wires": [
            [
                "968d12e0804bc727"
            ]
        ]
    },
    {
        "id": "968d12e0804bc727",
        "type": "mongodb in",
        "z": "9a12c8fa74cda53c",
        "mongodb": "775aca05fbec61c7",
        "name": "",
        "collection": "chat",
        "operation": "find",
        "x": 840,
        "y": 660,
        "wires": [
            [
                "6f24e759dcf97c72"
            ]
        ]
    },
    {
        "id": "778c474fb9e956a5",
        "type": "comment",
        "z": "9a12c8fa74cda53c",
        "name": "getClassChat",
        "info": " get the chat of the classroom\n F2- Ο χρήστης θα πρέπει να έχει τη δυνατότητα να συνομιλήσει με τα υπόλοιπα μέλη της ‘τάξης’",
        "x": 130,
        "y": 600,
        "wires": []
    },
    {
        "id": "e4f955b2ae337742",
        "type": "http in",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "url": "user/:userName",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 860,
        "wires": [
            [
                "4e0ff9229d3a5647"
            ]
        ]
    },
    {
        "id": "9e0f79b59b53f6d6",
        "type": "http response",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 1190,
        "y": 860,
        "wires": []
    },
    {
        "id": "4e0ff9229d3a5647",
        "type": "function",
        "z": "9a12c8fa74cda53c",
        "name": "loadPathParameters",
        "func": "\nvar username = msg.req.params.userName;\nmsg.payload = {\n    \"userName\": username\n}\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 860,
        "wires": [
            [
                "7ee9806ae2cf3c2f"
            ]
        ]
    },
    {
        "id": "7ee9806ae2cf3c2f",
        "type": "mongodb in",
        "z": "9a12c8fa74cda53c",
        "mongodb": "775aca05fbec61c7",
        "name": "",
        "collection": "users",
        "operation": "find",
        "x": 850,
        "y": 860,
        "wires": [
            [
                "9e0f79b59b53f6d6"
            ]
        ]
    },
    {
        "id": "75092e6aaae9eb6a",
        "type": "comment",
        "z": "9a12c8fa74cda53c",
        "name": "getUserInfo",
        "info": "get the user details\n FR-3 Ο χρήστης θα μπορεί να φτιάξει το προφίλ του",
        "x": 130,
        "y": 800,
        "wires": []
    },
    {
        "id": "8038ec508d475861",
        "type": "http in",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "url": "/user/:userName/class/:className/grade",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 1060,
        "wires": [
            [
                "4aea62da869233b7"
            ]
        ]
    },
    {
        "id": "0fd0c4dace6d168c",
        "type": "http response",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 1190,
        "y": 1060,
        "wires": []
    },
    {
        "id": "4aea62da869233b7",
        "type": "function",
        "z": "9a12c8fa74cda53c",
        "name": "loadPathParameters",
        "func": "var classname = msg.req.params.className;\nvar username = msg.req.params.userName;\nmsg.payload = {\n    \"username\": username,\n    \"className\": classname\n}\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1060,
        "wires": [
            [
                "d34558a52640f188"
            ]
        ]
    },
    {
        "id": "d34558a52640f188",
        "type": "mongodb in",
        "z": "9a12c8fa74cda53c",
        "mongodb": "775aca05fbec61c7",
        "name": "",
        "collection": "grades",
        "operation": "find",
        "x": 850,
        "y": 1060,
        "wires": [
            [
                "0fd0c4dace6d168c"
            ]
        ]
    },
    {
        "id": "9d251c7a1644d003",
        "type": "comment",
        "z": "9a12c8fa74cda53c",
        "name": "getUserGrade",
        "info": "get the grade of the user\n F4- Το σύστημα θα πρέπει να μπορεί να υπολογίσει τον μέσο όρο του μαθητή",
        "x": 130,
        "y": 1000,
        "wires": []
    },
    {
        "id": "13d1fc3fc8f17126",
        "type": "http in",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "url": "/user/:userName/notifications",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 1280,
        "wires": [
            [
                "f4d9a79c15ae4244"
            ]
        ]
    },
    {
        "id": "3301fefa0b4691d7",
        "type": "http response",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 1190,
        "y": 1280,
        "wires": []
    },
    {
        "id": "f4d9a79c15ae4244",
        "type": "function",
        "z": "9a12c8fa74cda53c",
        "name": "loadPathParameters",
        "func": "var username = msg.req.params.userName;\n// msg.payload = {\n//     \"username\": username,\n//     \"className\": classname\n// }\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1280,
        "wires": [
            [
                "732c6f8f469b21a4"
            ]
        ]
    },
    {
        "id": "732c6f8f469b21a4",
        "type": "mongodb in",
        "z": "9a12c8fa74cda53c",
        "mongodb": "775aca05fbec61c7",
        "name": "",
        "collection": "notifications",
        "operation": "find",
        "x": 870,
        "y": 1280,
        "wires": [
            [
                "3301fefa0b4691d7"
            ]
        ]
    },
    {
        "id": "f04ad78fd23a8a34",
        "type": "comment",
        "z": "9a12c8fa74cda53c",
        "name": "getUserNotifications",
        "info": "get the notifications of the user\n F5- Το σύστημα θα πρέπει να ειδοποιεί τον χρήστη για νέες ειδοποιήσεις",
        "x": 150,
        "y": 1220,
        "wires": []
    },
    {
        "id": "d0f08c89e74eab3b",
        "type": "http in",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "url": "/user/:userName/notifications/:notificationId",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 1540,
        "wires": [
            [
                "fcadee5de2ee4212"
            ]
        ]
    },
    {
        "id": "ac98c7cfd323c20d",
        "type": "http response",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 1190,
        "y": 1540,
        "wires": []
    },
    {
        "id": "fcadee5de2ee4212",
        "type": "function",
        "z": "9a12c8fa74cda53c",
        "name": "loadPathParameters",
        "func": "var notificationId = parseInt(msg.req.params.notificationId);\nvar username = msg.req.params.userName;\nmsg.payload = {\n    \"id\": notificationId\n}\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1540,
        "wires": [
            [
                "9e25a07f7e291838"
            ]
        ]
    },
    {
        "id": "9e25a07f7e291838",
        "type": "mongodb in",
        "z": "9a12c8fa74cda53c",
        "mongodb": "775aca05fbec61c7",
        "name": "",
        "collection": "notifications",
        "operation": "find",
        "x": 870,
        "y": 1540,
        "wires": [
            [
                "ac98c7cfd323c20d"
            ]
        ]
    },
    {
        "id": "dc77d1973e2d9015",
        "type": "comment",
        "z": "9a12c8fa74cda53c",
        "name": "getUserNotificationById",
        "info": "get a notification of the user using its id\n F5- Το σύστημα θα πρέπει να ειδοποιεί τον χρήστη για νέες ειδοποιήσεις",
        "x": 160,
        "y": 1480,
        "wires": []
    },
    {
        "id": "76334b45fb65648b",
        "type": "http in",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "url": "/admin/notifications",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 1720,
        "wires": [
            [
                "e0ab53647500aa23"
            ]
        ]
    },
    {
        "id": "7b2afed936c80014",
        "type": "http response",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 1190,
        "y": 1720,
        "wires": []
    },
    {
        "id": "e0ab53647500aa23",
        "type": "function",
        "z": "9a12c8fa74cda53c",
        "name": "loadPathParameters",
        "func": "var username = msg.req.params.userName;\n// msg.payload = {\n//     \"username\": username,\n//     \"className\": classname\n// }\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1720,
        "wires": [
            [
                "07a00d94c7940249"
            ]
        ]
    },
    {
        "id": "07a00d94c7940249",
        "type": "mongodb in",
        "z": "9a12c8fa74cda53c",
        "mongodb": "775aca05fbec61c7",
        "name": "",
        "collection": "notifications",
        "operation": "find",
        "x": 870,
        "y": 1720,
        "wires": [
            [
                "7b2afed936c80014",
                "7abe0b35d0ce7cab"
            ]
        ]
    },
    {
        "id": "3f71b4e7ceb83248",
        "type": "comment",
        "z": "9a12c8fa74cda53c",
        "name": "getAdminNotifications",
        "info": "get all the notifications\n F5- Το σύστημα θα πρέπει να ειδοποιεί τον χρήστη για νέες ειδοποιήσεις",
        "x": 160,
        "y": 1660,
        "wires": []
    },
    {
        "id": "9bbd28fbd291b043",
        "type": "http in",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "url": "/admin/notifications/:notificationId",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 1980,
        "wires": [
            [
                "e9114fdc99a9c3f5"
            ]
        ]
    },
    {
        "id": "e76fd7850eb9f166",
        "type": "http response",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 1190,
        "y": 1980,
        "wires": []
    },
    {
        "id": "e9114fdc99a9c3f5",
        "type": "function",
        "z": "9a12c8fa74cda53c",
        "name": "loadPathParameters",
        "func": "var notificationId = parseInt(msg.req.params.notificationId);\nvar username = msg.req.params.userName;\nmsg.payload = {\n    \"id\": notificationId\n}\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1980,
        "wires": [
            [
                "d5dd91b94fe23ae0"
            ]
        ]
    },
    {
        "id": "d5dd91b94fe23ae0",
        "type": "mongodb in",
        "z": "9a12c8fa74cda53c",
        "mongodb": "775aca05fbec61c7",
        "name": "",
        "collection": "notifications",
        "operation": "find",
        "x": 870,
        "y": 1980,
        "wires": [
            [
                "e76fd7850eb9f166"
            ]
        ]
    },
    {
        "id": "2439f86c87043116",
        "type": "comment",
        "z": "9a12c8fa74cda53c",
        "name": "getAdminNotificationById",
        "info": "get a certain notification\n F5- Το σύστημα θα πρέπει να ειδοποιεί τον χρήστη για νέες ειδοποιήσεις",
        "x": 170,
        "y": 1920,
        "wires": []
    },
    {
        "id": "c516ff82cc052bb1",
        "type": "http in",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "url": "/admin/notifications",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 2160,
        "wires": [
            [
                "9bd2ecf3c9f3b4ca"
            ]
        ]
    },
    {
        "id": "10c08fbea1b710d8",
        "type": "mongodb out",
        "z": "9a12c8fa74cda53c",
        "mongodb": "775aca05fbec61c7",
        "name": "",
        "collection": "notifications",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 830,
        "y": 2160,
        "wires": []
    },
    {
        "id": "7abe0b35d0ce7cab",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 1840,
        "wires": []
    },
    {
        "id": "c2b523fce87eec2c",
        "type": "comment",
        "z": "9a12c8fa74cda53c",
        "name": "postNotification",
        "info": "post a notification",
        "x": 160,
        "y": 2100,
        "wires": []
    },
    {
        "id": "776d0e90505508ad",
        "type": "http in",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "url": "/user/:userName/class/:className/chat",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 2620,
        "wires": [
            [
                "15677c76056d9bb5",
                "2f7ccf855bb51fb5"
            ]
        ]
    },
    {
        "id": "b54ded08f07898cc",
        "type": "mongodb out",
        "z": "9a12c8fa74cda53c",
        "mongodb": "775aca05fbec61c7",
        "name": "",
        "collection": "chat",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 920,
        "y": 2640,
        "wires": []
    },
    {
        "id": "f331e18c5686a4b9",
        "type": "comment",
        "z": "9a12c8fa74cda53c",
        "name": "postClassMessage",
        "info": "post a message to the classroom",
        "x": 210,
        "y": 2520,
        "wires": []
    },
    {
        "id": "c2ecad7e5194e4ca",
        "type": "http in",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "url": "/admin/class/:className",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 3160,
        "wires": [
            [
                "838a0b20e737b14c",
                "e91e3c2dfce31318"
            ]
        ]
    },
    {
        "id": "838a0b20e737b14c",
        "type": "function",
        "z": "9a12c8fa74cda53c",
        "name": "loadPathParameter",
        "func": "var className = msg.req.params.className;\nlet editClass = JSON.parse(msg.req.body); \n\nmsg.payload = { \n    \"className\":className\n}\nmsg.topic = editClass ; \nreturn msg ; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 3200,
        "wires": [
            [
                "63eb472e328cd0fa",
                "fc068a8a134a28ae"
            ]
        ]
    },
    {
        "id": "92757e2de8585c32",
        "type": "comment",
        "z": "9a12c8fa74cda53c",
        "name": "changeClassInfoAdmin",
        "info": "change class info\nFR1 Ο καθηγητής και η γραμματεία πρέπει να μπορεί να επεξεργαστεί την τάξη",
        "x": 180,
        "y": 3060,
        "wires": []
    },
    {
        "id": "f089578f4da623bb",
        "type": "mongodb out",
        "z": "9a12c8fa74cda53c",
        "mongodb": "775aca05fbec61c7",
        "name": "",
        "collection": "tester",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "update",
        "x": 1210,
        "y": 3260,
        "wires": []
    },
    {
        "id": "63eb472e328cd0fa",
        "type": "mongodb in",
        "z": "9a12c8fa74cda53c",
        "mongodb": "775aca05fbec61c7",
        "name": "",
        "collection": "tester",
        "operation": "find",
        "x": 570,
        "y": 3340,
        "wires": [
            [
                "fea32e7257fe16ac",
                "4e3389e5f06efe40",
                "b14e31c493913e12"
            ]
        ]
    },
    {
        "id": "b14e31c493913e12",
        "type": "function",
        "z": "9a12c8fa74cda53c",
        "name": "changeClassName",
        "func": "\nmsg.payload[0].className = msg.topic.className ;  \nmsg.payload[0].users = msg.topic.users ; \nlet lesson = msg.payload[0] ; \nmsg.payload = lesson; \n\nreturn msg ; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 3260,
        "wires": [
            [
                "7a136a5e0bc9de81",
                "8b990c831e30646a"
            ]
        ]
    },
    {
        "id": "fea32e7257fe16ac",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "initial data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 3440,
        "wires": []
    },
    {
        "id": "fc068a8a134a28ae",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "className",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 3100,
        "wires": []
    },
    {
        "id": "7a136a5e0bc9de81",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "changed data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 3160,
        "wires": []
    },
    {
        "id": "8b990c831e30646a",
        "type": "change",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "query._id",
                "pt": "msg",
                "to": "payload._id",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload._id",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 3320,
        "wires": [
            [
                "f089578f4da623bb",
                "20aacac2952cd66a",
                "ccdb0a75303bd58c"
            ]
        ]
    },
    {
        "id": "20aacac2952cd66a",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "adding id to query",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 3420,
        "wires": []
    },
    {
        "id": "399277c0199145cd",
        "type": "http in",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "url": "/user/:userName/class/:className",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 3660,
        "wires": [
            [
                "b0ae5971f127ca19"
            ]
        ]
    },
    {
        "id": "b0ae5971f127ca19",
        "type": "function",
        "z": "9a12c8fa74cda53c",
        "name": "loadPathParameter",
        "func": "var className = msg.req.params.className;\nlet editClass = JSON.parse(msg.req.body);\n\nmsg.payload = {\n    \"className\": className\n}\nmsg.topic = editClass;\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 3720,
        "wires": [
            [
                "3664a87776507e5f",
                "7386576847b5b5db"
            ]
        ]
    },
    {
        "id": "117ea6aeb245c047",
        "type": "comment",
        "z": "9a12c8fa74cda53c",
        "name": "changeClassInfoTeacher",
        "info": "change class info\nFR1 Ο καθηγητής και η γραμματεία πρέπει να μπορεί να επεξεργαστεί την τάξη",
        "x": 170,
        "y": 3580,
        "wires": []
    },
    {
        "id": "ac6d348794e30c20",
        "type": "mongodb out",
        "z": "9a12c8fa74cda53c",
        "mongodb": "775aca05fbec61c7",
        "name": "",
        "collection": "tester",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "update",
        "x": 1190,
        "y": 3780,
        "wires": []
    },
    {
        "id": "3664a87776507e5f",
        "type": "mongodb in",
        "z": "9a12c8fa74cda53c",
        "mongodb": "775aca05fbec61c7",
        "name": "",
        "collection": "tester",
        "operation": "find",
        "x": 550,
        "y": 3860,
        "wires": [
            [
                "6d340b1a6615182c",
                "8c0555c0cee028ca"
            ]
        ]
    },
    {
        "id": "6d340b1a6615182c",
        "type": "function",
        "z": "9a12c8fa74cda53c",
        "name": "changeClassName",
        "func": "\nmsg.payload[0].className = msg.topic.className;\nmsg.payload[0].users = msg.topic.users;\nlet lesson = msg.payload[0];\nmsg.payload = lesson;\n\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 3760,
        "wires": [
            [
                "4b67958f3ecc0ed4",
                "d082b4026833f90f"
            ]
        ]
    },
    {
        "id": "8c0555c0cee028ca",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "initial data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 3960,
        "wires": []
    },
    {
        "id": "7386576847b5b5db",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "className",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 3620,
        "wires": []
    },
    {
        "id": "4b67958f3ecc0ed4",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "changed data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 3680,
        "wires": []
    },
    {
        "id": "d082b4026833f90f",
        "type": "change",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "query._id",
                "pt": "msg",
                "to": "payload._id",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload._id",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 3840,
        "wires": [
            [
                "ac6d348794e30c20",
                "80e7aa8b8852f8eb",
                "0e6693992e377bbe"
            ]
        ]
    },
    {
        "id": "80e7aa8b8852f8eb",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "adding id to query",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 3940,
        "wires": []
    },
    {
        "id": "bf2aec969e6796b9",
        "type": "http in",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "url": "user/:userName",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 4140,
        "wires": [
            [
                "6a995a22cc30ed97"
            ]
        ]
    },
    {
        "id": "6a995a22cc30ed97",
        "type": "function",
        "z": "9a12c8fa74cda53c",
        "name": "loadPathParameter",
        "func": "\nvar username = msg.req.params.userName;\nlet editProfile = JSON.parse(msg.req.body);\nmsg.payload = {\n    \"userName\": username\n}\nmsg.topic = editProfile;\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 4200,
        "wires": [
            [
                "f5f2b184c0324322",
                "94a98cc3a0534750"
            ]
        ]
    },
    {
        "id": "14e62e1e7bf10c46",
        "type": "comment",
        "z": "9a12c8fa74cda53c",
        "name": "changeUserInfo",
        "info": "edit the user details\n",
        "x": 140,
        "y": 4060,
        "wires": []
    },
    {
        "id": "6c6723b637636ab2",
        "type": "mongodb out",
        "z": "9a12c8fa74cda53c",
        "mongodb": "775aca05fbec61c7",
        "name": "",
        "collection": "users",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "update",
        "x": 1190,
        "y": 4260,
        "wires": []
    },
    {
        "id": "f5f2b184c0324322",
        "type": "mongodb in",
        "z": "9a12c8fa74cda53c",
        "mongodb": "775aca05fbec61c7",
        "name": "",
        "collection": "users",
        "operation": "find",
        "x": 550,
        "y": 4340,
        "wires": [
            [
                "7d44e7c7dde3129c",
                "325dd71e75c391e6"
            ]
        ]
    },
    {
        "id": "7d44e7c7dde3129c",
        "type": "function",
        "z": "9a12c8fa74cda53c",
        "name": "changeuserName",
        "func": "\nmsg.payload[0].name = msg.topic.name;\nmsg.payload[0].surname = msg.topic.surname;  \nmsg.payload[0].email = msg.topic.email ; \nlet user = msg.payload[0] ; \nmsg.payload = user; \n\nreturn msg ; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 4240,
        "wires": [
            [
                "f987d54e3460cf91",
                "dab868a3cb145bed"
            ]
        ]
    },
    {
        "id": "325dd71e75c391e6",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "initial data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 4440,
        "wires": []
    },
    {
        "id": "94a98cc3a0534750",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "userName",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 4100,
        "wires": []
    },
    {
        "id": "f987d54e3460cf91",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "changed data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 4160,
        "wires": []
    },
    {
        "id": "dab868a3cb145bed",
        "type": "change",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "query._id",
                "pt": "msg",
                "to": "payload._id",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload._id",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 4320,
        "wires": [
            [
                "6c6723b637636ab2",
                "f6c97b4bb2c25dff",
                "a8757015b1721abe"
            ]
        ]
    },
    {
        "id": "f6c97b4bb2c25dff",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "adding id to query",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 4420,
        "wires": []
    },
    {
        "id": "14b6fa802a8df4ba",
        "type": "http in",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "url": "/admin/notifications/:notificationId",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 4680,
        "wires": [
            [
                "0991de0672182e7a"
            ]
        ]
    },
    {
        "id": "0991de0672182e7a",
        "type": "function",
        "z": "9a12c8fa74cda53c",
        "name": "loadPathParameter",
        "func": "let notification = parseInt(msg.req.params.notificationId) ;\nlet editnotification = JSON.parse(msg.req.body);\nmsg.payload = { \n    \"id\": notification\n}\nmsg.topic = editnotification;\nreturn msg ; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 4740,
        "wires": [
            [
                "6440f4bfe36962a7",
                "5ab2c2e65ba90fce",
                "a9febad335255f95"
            ]
        ]
    },
    {
        "id": "5cd6fb7c9849128a",
        "type": "comment",
        "z": "9a12c8fa74cda53c",
        "name": "editAdminNotificationById",
        "info": "edit a certain notification\nF5- Το σύστημα θα πρέπει να ειδοποιεί τον χρήστη για νέες ειδοποιήσεις",
        "x": 170,
        "y": 4600,
        "wires": []
    },
    {
        "id": "457742b9b8c5ec7a",
        "type": "mongodb out",
        "z": "9a12c8fa74cda53c",
        "mongodb": "775aca05fbec61c7",
        "name": "",
        "collection": "notifications",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "update",
        "x": 1210,
        "y": 4800,
        "wires": []
    },
    {
        "id": "6440f4bfe36962a7",
        "type": "mongodb in",
        "z": "9a12c8fa74cda53c",
        "mongodb": "775aca05fbec61c7",
        "name": "",
        "collection": "notifications",
        "operation": "find",
        "x": 550,
        "y": 4880,
        "wires": [
            [
                "f3798fc775cfb57a",
                "3ea5219468c9ef71"
            ]
        ]
    },
    {
        "id": "f3798fc775cfb57a",
        "type": "function",
        "z": "9a12c8fa74cda53c",
        "name": "changeNotification",
        "func": "msg.payload[0].title = msg.topic.title ; \nmsg.payload[0].body = msg.topic.body ; \nlet notification = msg.payload[0] ; \nmsg.payload = notification; \n\nreturn msg ; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 4780,
        "wires": [
            [
                "0824a35c613b314b",
                "d7b98f049489530c"
            ]
        ]
    },
    {
        "id": "3ea5219468c9ef71",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "initial data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 4980,
        "wires": []
    },
    {
        "id": "5ab2c2e65ba90fce",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "className",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 4580,
        "wires": []
    },
    {
        "id": "0824a35c613b314b",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "changed data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 4700,
        "wires": []
    },
    {
        "id": "d7b98f049489530c",
        "type": "change",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "query._id",
                "pt": "msg",
                "to": "payload._id",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload._id",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 4860,
        "wires": [
            [
                "457742b9b8c5ec7a",
                "40e9bc1f51f29642",
                "309b1fea210a6f51"
            ]
        ]
    },
    {
        "id": "40e9bc1f51f29642",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "adding id to query",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 4960,
        "wires": []
    },
    {
        "id": "6dc86b56ca2d4420",
        "type": "http in",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "url": "/admin/notifications/:notificationId",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 1480,
        "y": 140,
        "wires": [
            [
                "419c97a16741ca4a"
            ]
        ]
    },
    {
        "id": "419c97a16741ca4a",
        "type": "function",
        "z": "9a12c8fa74cda53c",
        "name": "loadPathParameter",
        "func": "let id = msg.req.params.id;\n\nmsg.payload = { \n    \"id\":id\n}\nreturn msg ; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1770,
        "y": 220,
        "wires": [
            [
                "813ca76c1257f91f",
                "ef806b987a90eef1"
            ]
        ]
    },
    {
        "id": "31a2048e0a5b9b7d",
        "type": "comment",
        "z": "9a12c8fa74cda53c",
        "name": "deleteAdminNotificationById",
        "info": "delete a certain notification\nF5- Το σύστημα θα πρέπει να ειδοποιεί τον χρήστη για νέες ειδοποιήσεις",
        "x": 1480,
        "y": 60,
        "wires": []
    },
    {
        "id": "3f197f82d7678b90",
        "type": "mongodb out",
        "z": "9a12c8fa74cda53c",
        "mongodb": "775aca05fbec61c7",
        "name": "",
        "collection": "notifications",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 2370,
        "y": 340,
        "wires": []
    },
    {
        "id": "813ca76c1257f91f",
        "type": "mongodb in",
        "z": "9a12c8fa74cda53c",
        "mongodb": "775aca05fbec61c7",
        "name": "",
        "collection": "notifications",
        "operation": "find",
        "x": 1930,
        "y": 340,
        "wires": [
            [
                "5ca7a166f8ca70b7",
                "53c41bc9d32759a5"
            ]
        ]
    },
    {
        "id": "212336bf7bd3bc11",
        "type": "inject",
        "z": "9a12c8fa74cda53c",
        "name": "delete notification",
        "props": [
            {
                "p": "req.params.id",
                "v": "13",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1460,
        "y": 240,
        "wires": [
            [
                "419c97a16741ca4a"
            ]
        ]
    },
    {
        "id": "5ca7a166f8ca70b7",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "initial data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2000,
        "y": 440,
        "wires": []
    },
    {
        "id": "ef806b987a90eef1",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "className",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1870,
        "y": 120,
        "wires": []
    },
    {
        "id": "9521edc4a40f50b7",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "object to be deleted",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2270,
        "y": 100,
        "wires": []
    },
    {
        "id": "53c41bc9d32759a5",
        "type": "function",
        "z": "9a12c8fa74cda53c",
        "name": "Notification",
        "func": " \nlet notification = msg.payload[0] ; \nmsg.payload = notification; \n\nreturn msg ; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2150,
        "y": 220,
        "wires": [
            [
                "3f197f82d7678b90",
                "9521edc4a40f50b7"
            ]
        ]
    },
    {
        "id": "b745ce9471b28c7f",
        "type": "http in",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "url": "admin/class/:className",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 1430,
        "y": 600,
        "wires": [
            [
                "f978a47152b985c3"
            ]
        ]
    },
    {
        "id": "f978a47152b985c3",
        "type": "function",
        "z": "9a12c8fa74cda53c",
        "name": "loadPathParameter",
        "func": "let className = msg.req.params.className;\n\nmsg.payload = { \n    \"className\":className\n}\nreturn msg ; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1750,
        "y": 680,
        "wires": [
            [
                "31e835220206860c",
                "adc309851ebd76f7"
            ]
        ]
    },
    {
        "id": "893b4f3be0504660",
        "type": "comment",
        "z": "9a12c8fa74cda53c",
        "name": "deleteClass",
        "info": "delete a certain class\n",
        "x": 1410,
        "y": 520,
        "wires": []
    },
    {
        "id": "6f0638fe3fe86456",
        "type": "mongodb out",
        "z": "9a12c8fa74cda53c",
        "mongodb": "775aca05fbec61c7",
        "name": "",
        "collection": "tester",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 2330,
        "y": 800,
        "wires": []
    },
    {
        "id": "31e835220206860c",
        "type": "mongodb in",
        "z": "9a12c8fa74cda53c",
        "mongodb": "775aca05fbec61c7",
        "name": "",
        "collection": "tester",
        "operation": "find",
        "x": 1890,
        "y": 800,
        "wires": [
            [
                "11501c5629cfe0f5",
                "49a772ac75747229"
            ]
        ]
    },
    {
        "id": "72aa7c8c2608d0ef",
        "type": "inject",
        "z": "9a12c8fa74cda53c",
        "name": "delete class",
        "props": [
            {
                "p": "req.params.className",
                "v": "Biology",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1430,
        "y": 700,
        "wires": [
            [
                "f978a47152b985c3"
            ]
        ]
    },
    {
        "id": "11501c5629cfe0f5",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "initial data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1980,
        "y": 900,
        "wires": []
    },
    {
        "id": "adc309851ebd76f7",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "className",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1850,
        "y": 580,
        "wires": []
    },
    {
        "id": "e786be83a4ea2cb7",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "object to be deleted",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2250,
        "y": 560,
        "wires": []
    },
    {
        "id": "49a772ac75747229",
        "type": "function",
        "z": "9a12c8fa74cda53c",
        "name": "className",
        "func": " \nlet _class = msg.payload[0] ; \nmsg.payload = _class; \n\nreturn msg ; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2130,
        "y": 680,
        "wires": [
            [
                "e786be83a4ea2cb7",
                "6f0638fe3fe86456"
            ]
        ]
    },
    {
        "id": "a736a243bdb8953e",
        "type": "http in",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "url": "admin/user/:userName",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 1450,
        "y": 1160,
        "wires": [
            [
                "1d5784d4a33bf9eb"
            ]
        ]
    },
    {
        "id": "1d5784d4a33bf9eb",
        "type": "function",
        "z": "9a12c8fa74cda53c",
        "name": "loadPathParameter",
        "func": "let userName = msg.req.params.userName;\n\nmsg.payload = { \n    \"userName\": userName\n}\nreturn msg ; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1770,
        "y": 1240,
        "wires": [
            [
                "0c7c35b3e2302958",
                "f90d34097def7a18"
            ]
        ]
    },
    {
        "id": "210c7f123d9873b6",
        "type": "comment",
        "z": "9a12c8fa74cda53c",
        "name": "deleteUser",
        "info": "delete a certain user\n",
        "x": 1420,
        "y": 1080,
        "wires": []
    },
    {
        "id": "f513159fbf1e5660",
        "type": "mongodb out",
        "z": "9a12c8fa74cda53c",
        "mongodb": "775aca05fbec61c7",
        "name": "",
        "collection": "users",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 2350,
        "y": 1360,
        "wires": []
    },
    {
        "id": "0c7c35b3e2302958",
        "type": "mongodb in",
        "z": "9a12c8fa74cda53c",
        "mongodb": "775aca05fbec61c7",
        "name": "",
        "collection": "users",
        "operation": "find",
        "x": 1910,
        "y": 1360,
        "wires": [
            [
                "77921f0bd6dc803a",
                "6364ebc60f2e0f5f"
            ]
        ]
    },
    {
        "id": "65de90f0fb638de9",
        "type": "inject",
        "z": "9a12c8fa74cda53c",
        "name": "delete user",
        "props": [
            {
                "p": "req.params.userName",
                "v": "maria12",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1440,
        "y": 1260,
        "wires": [
            [
                "1d5784d4a33bf9eb"
            ]
        ]
    },
    {
        "id": "77921f0bd6dc803a",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "initial data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2000,
        "y": 1460,
        "wires": []
    },
    {
        "id": "f90d34097def7a18",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "className",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1870,
        "y": 1140,
        "wires": []
    },
    {
        "id": "becdac2cb264995f",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "object to be deleted",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2270,
        "y": 1120,
        "wires": []
    },
    {
        "id": "6364ebc60f2e0f5f",
        "type": "function",
        "z": "9a12c8fa74cda53c",
        "name": "userName",
        "func": " \nlet _user = msg.payload[0] ; \nmsg.payload = _user; \n\nreturn msg ; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2150,
        "y": 1240,
        "wires": [
            [
                "becdac2cb264995f",
                "f513159fbf1e5660"
            ]
        ]
    },
    {
        "id": "6a4f98ff83e40785",
        "type": "http in",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "url": "/admin/user",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 1450,
        "y": 1700,
        "wires": [
            [
                "33ff3feef8ab6046"
            ]
        ]
    },
    {
        "id": "33ff3feef8ab6046",
        "type": "mongodb out",
        "z": "9a12c8fa74cda53c",
        "mongodb": "775aca05fbec61c7",
        "name": "",
        "collection": "users",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 2090,
        "y": 1700,
        "wires": []
    },
    {
        "id": "0837cda6ec29df11",
        "type": "inject",
        "z": "9a12c8fa74cda53c",
        "name": "create user",
        "props": [
            {
                "p": "userName",
                "v": "nat12",
                "vt": "str"
            },
            {
                "p": "name",
                "v": "Natalia",
                "vt": "str"
            },
            {
                "p": "surname",
                "v": "Fotiadou",
                "vt": "str"
            },
            {
                "p": "email",
                "v": "natf@gmai.com",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1480,
        "y": 1860,
        "wires": [
            [
                "79e85c6211a7d84f",
                "cd0e50838bf4a6f4",
                "002e2d28ca6ef275"
            ]
        ]
    },
    {
        "id": "cd0e50838bf4a6f4",
        "type": "mongodb out",
        "z": "9a12c8fa74cda53c",
        "mongodb": "775aca05fbec61c7",
        "name": "",
        "collection": "users",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 1930,
        "y": 1960,
        "wires": []
    },
    {
        "id": "79e85c6211a7d84f",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "username",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "userName",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1920,
        "y": 1800,
        "wires": []
    },
    {
        "id": "0e6a635e5d0e9474",
        "type": "comment",
        "z": "9a12c8fa74cda53c",
        "name": "create user",
        "info": "create User",
        "x": 1420,
        "y": 1640,
        "wires": []
    },
    {
        "id": "002e2d28ca6ef275",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "name",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "name",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1910,
        "y": 1880,
        "wires": []
    },
    {
        "id": "5a111e9dca8ed789",
        "type": "inject",
        "z": "9a12c8fa74cda53c",
        "name": "Notification Request",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1290,
        "y": 2220,
        "wires": [
            [
                "66b7c34ad2b6e9d8"
            ]
        ]
    },
    {
        "id": "66b7c34ad2b6e9d8",
        "type": "http request",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:1880/admin/notifications",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1550,
        "y": 2220,
        "wires": [
            [
                "03c99726cf780b5f"
            ]
        ]
    },
    {
        "id": "03c99726cf780b5f",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "Get notifications",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1860,
        "y": 2220,
        "wires": []
    },
    {
        "id": "5707ea284f113d7f",
        "type": "comment",
        "z": "9a12c8fa74cda53c",
        "name": "Client Notifications",
        "info": "",
        "x": 1290,
        "y": 2140,
        "wires": []
    },
    {
        "id": "e91e3c2dfce31318",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 2980,
        "wires": []
    },
    {
        "id": "4e3389e5f06efe40",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "className",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 3120,
        "wires": []
    },
    {
        "id": "ccdb0a75303bd58c",
        "type": "http response",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 1330,
        "y": 3340,
        "wires": []
    },
    {
        "id": "8a93927af6e4c41a",
        "type": "inject",
        "z": "9a12c8fa74cda53c",
        "name": "edit class Request",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1270,
        "y": 2520,
        "wires": [
            [
                "f0fff2db7ce4269c"
            ]
        ]
    },
    {
        "id": "0da2e02ca392c39c",
        "type": "http request",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:1880/admin/class/Italian",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "text/plain",
                "valueValue": ""
            }
        ],
        "x": 1710,
        "y": 2520,
        "wires": [
            [
                "a9e3caf0de23c92c"
            ]
        ]
    },
    {
        "id": "5bf453c9bef9ce20",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "initial data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2020,
        "y": 2520,
        "wires": []
    },
    {
        "id": "f0fff2db7ce4269c",
        "type": "function",
        "z": "9a12c8fa74cda53c",
        "name": "function 8",
        "func": "msg.payload = {\n    \"className\": \"Italian\",\n    \"users\": [\n        {\n            \"user\": {\n                \"userName\": \"Iasonas\",\n                \"name\": \"<string>\",\n                \"surname\": \"<string>\",\n                \"email\": \"<string>\",\n                \"id\": 123\n            },\n            \"grade\": \"<number>\"\n        },\n        {\n            \"user\": {\n                \"userName\": \"<string>\",\n                \"name\": \"<string>\",\n                \"surname\": \"<string>\",\n                \"email\": \"<string>\",\n                \"id\": \"<long>\"\n            },\n            \"grade\": \"<number>\"\n        }\n    ]\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1500,
        "y": 2520,
        "wires": [
            [
                "0da2e02ca392c39c"
            ]
        ]
    },
    {
        "id": "a9e3caf0de23c92c",
        "type": "json",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1890,
        "y": 2520,
        "wires": [
            [
                "5bf453c9bef9ce20"
            ]
        ]
    },
    {
        "id": "3478bfb956f5379d",
        "type": "inject",
        "z": "9a12c8fa74cda53c",
        "name": "edit class Request",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1270,
        "y": 2780,
        "wires": [
            [
                "a39db1a5a0637ea2"
            ]
        ]
    },
    {
        "id": "6aed212ba930970e",
        "type": "http request",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:1880/user/Aliki/class/Italian",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "text/plain",
                "valueValue": ""
            }
        ],
        "x": 1710,
        "y": 2780,
        "wires": [
            [
                "79daa54caea41444"
            ]
        ]
    },
    {
        "id": "36dfa2f265126333",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "initial data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2040,
        "y": 2780,
        "wires": []
    },
    {
        "id": "a39db1a5a0637ea2",
        "type": "function",
        "z": "9a12c8fa74cda53c",
        "name": "function 9",
        "func": "msg.payload = {\n    \"className\": \"Italian\",\n    \"users\": [\n        {\n            \"user\": {\n                \"userName\": \"Iasonas\",\n                \"name\": \"<string>\",\n                \"surname\": \"<string>\",\n                \"email\": \"<string>\",\n                \"id\": 123\n            },\n            \"grade\": \"<number>\"\n        },\n        {\n            \"user\": {\n                \"userName\": \"Eirini\",\n                \"name\": \"<string>\",\n                \"surname\": \"<string>\",\n                \"email\": \"<string>\",\n                \"id\": \"<long>\"\n            },\n            \"grade\": \"<number>\"\n        }\n    ]\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1500,
        "y": 2780,
        "wires": [
            [
                "6aed212ba930970e"
            ]
        ]
    },
    {
        "id": "79daa54caea41444",
        "type": "json",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1890,
        "y": 2780,
        "wires": [
            [
                "36dfa2f265126333"
            ]
        ]
    },
    {
        "id": "0e6693992e377bbe",
        "type": "http response",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 1310,
        "y": 3860,
        "wires": []
    },
    {
        "id": "bed2cf20ac45c9f4",
        "type": "inject",
        "z": "9a12c8fa74cda53c",
        "name": "open chat",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1240,
        "y": 2980,
        "wires": [
            [
                "48ee52987d3095d1"
            ]
        ]
    },
    {
        "id": "48ee52987d3095d1",
        "type": "http request",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:1880/user/Aliki/class/Italian/chat",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "text/plain",
                "valueValue": ""
            }
        ],
        "x": 1550,
        "y": 2980,
        "wires": [
            [
                "4694b267e68d629a"
            ]
        ]
    },
    {
        "id": "3293f1e861174c3e",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "initial data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2040,
        "y": 2980,
        "wires": []
    },
    {
        "id": "4694b267e68d629a",
        "type": "json",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1850,
        "y": 2980,
        "wires": [
            [
                "3293f1e861174c3e"
            ]
        ]
    },
    {
        "id": "9e7837a4ba95d84f",
        "type": "inject",
        "z": "9a12c8fa74cda53c",
        "name": "post message",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1350,
        "y": 3160,
        "wires": [
            [
                "409d6312a347c467"
            ]
        ]
    },
    {
        "id": "5c7658976d8d4d28",
        "type": "http request",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:1880/user/Aliki/class/Italian/chat",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "text/plain",
                "valueValue": ""
            }
        ],
        "x": 1770,
        "y": 3160,
        "wires": [
            [
                "101d08e041aad834"
            ]
        ]
    },
    {
        "id": "7dcf48bb59795d37",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "initial data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2200,
        "y": 3160,
        "wires": []
    },
    {
        "id": "101d08e041aad834",
        "type": "json",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 2010,
        "y": 3160,
        "wires": [
            [
                "7dcf48bb59795d37"
            ]
        ]
    },
    {
        "id": "409d6312a347c467",
        "type": "function",
        "z": "9a12c8fa74cda53c",
        "name": "function 10",
        "func": "msg.payload = {\n\n    \"message\": \"kalispera\",\n}\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 3160,
        "wires": [
            [
                "5c7658976d8d4d28"
            ]
        ]
    },
    {
        "id": "8a3b94ee3ae68755",
        "type": "http response",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 2740,
        "wires": []
    },
    {
        "id": "15677c76056d9bb5",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "username",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "req.body",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 2500,
        "wires": []
    },
    {
        "id": "2f7ccf855bb51fb5",
        "type": "function",
        "z": "9a12c8fa74cda53c",
        "name": "loadPathParameter",
        "func": "let username = msg.req.params.userName;\nlet message = JSON.parse(msg.req.body) ;\nmsg.topic = message ; \n\nmsg.payload = {\n    \"username\": username,\n    \"message\": msg.topic.message\n}\n// msg.topic = editClass;\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 2620,
        "wires": [
            [
                "b54ded08f07898cc",
                "a94369bb1930ceb0",
                "8a3b94ee3ae68755"
            ]
        ]
    },
    {
        "id": "a94369bb1930ceb0",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "username",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 2540,
        "wires": []
    },
    {
        "id": "60649db112cabdad",
        "type": "inject",
        "z": "9a12c8fa74cda53c",
        "name": "Notification Request",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1430,
        "y": 3600,
        "wires": [
            [
                "40ee4a1f44a9256c"
            ]
        ]
    },
    {
        "id": "40ee4a1f44a9256c",
        "type": "http request",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:1880/user/danai/class/Physics/grade",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1690,
        "y": 3600,
        "wires": [
            [
                "bff2dc5ad90e4746"
            ]
        ]
    },
    {
        "id": "85ad33a1d034ba3a",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "Get grades",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1990,
        "y": 3600,
        "wires": []
    },
    {
        "id": "4c2df25cc0621f8d",
        "type": "comment",
        "z": "9a12c8fa74cda53c",
        "name": "Get Grades",
        "info": "",
        "x": 1410,
        "y": 3520,
        "wires": []
    },
    {
        "id": "bff2dc5ad90e4746",
        "type": "json",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1850,
        "y": 3600,
        "wires": [
            [
                "85ad33a1d034ba3a"
            ]
        ]
    },
    {
        "id": "a8757015b1721abe",
        "type": "http response",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 1190,
        "y": 4360,
        "wires": []
    },
    {
        "id": "adb14fe85fa80873",
        "type": "inject",
        "z": "9a12c8fa74cda53c",
        "name": "edit profile user Request",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1430,
        "y": 4080,
        "wires": [
            [
                "1ae1c9078872add0"
            ]
        ]
    },
    {
        "id": "4657f2b40584e8e9",
        "type": "http request",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:1880/user/iasonas55",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "text/plain",
                "valueValue": ""
            }
        ],
        "x": 1930,
        "y": 4080,
        "wires": [
            [
                "5e38cf317524de8f"
            ]
        ]
    },
    {
        "id": "d299b0f6bf216e17",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "initial data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2260,
        "y": 4080,
        "wires": []
    },
    {
        "id": "1ae1c9078872add0",
        "type": "function",
        "z": "9a12c8fa74cda53c",
        "name": "function 11",
        "func": "msg.payload = {\n\n    \"userName\": \"iasonas55\",\n    \"name\": \"Iasonas\",\n    \"surname\": \"Kakandris\",\n    \"email\": \"kiasonas@ece.auth.gr\",\n    \"id\": \"<long>\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1720,
        "y": 4080,
        "wires": [
            [
                "4657f2b40584e8e9"
            ]
        ]
    },
    {
        "id": "5e38cf317524de8f",
        "type": "json",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 2110,
        "y": 4080,
        "wires": [
            [
                "d299b0f6bf216e17"
            ]
        ]
    },
    {
        "id": "5b13f13b18ebe49a",
        "type": "inject",
        "z": "9a12c8fa74cda53c",
        "name": "Notification Request",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1310,
        "y": 2400,
        "wires": [
            [
                "c9673c28746ca3d7"
            ]
        ]
    },
    {
        "id": "c9673c28746ca3d7",
        "type": "http request",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:1880/admin/notifications",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1570,
        "y": 2400,
        "wires": [
            [
                "f06652b3dca21f59"
            ]
        ]
    },
    {
        "id": "f06652b3dca21f59",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "Get notifications",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1880,
        "y": 2400,
        "wires": []
    },
    {
        "id": "214042fba4b1dfed",
        "type": "comment",
        "z": "9a12c8fa74cda53c",
        "name": "Client Notifications",
        "info": "",
        "x": 1310,
        "y": 2320,
        "wires": []
    },
    {
        "id": "161ac608e79be36f",
        "type": "inject",
        "z": "9a12c8fa74cda53c",
        "name": "Notification Request",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 520,
        "wires": [
            [
                "afca6dd81bd86576"
            ]
        ]
    },
    {
        "id": "afca6dd81bd86576",
        "type": "http request",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:1880/user/Iasonas/class/Italian",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 520,
        "wires": [
            [
                "5fcbafbff6ed3097"
            ]
        ]
    },
    {
        "id": "59ebe4b55a395484",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "Get grades",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 520,
        "wires": []
    },
    {
        "id": "5fcbafbff6ed3097",
        "type": "json",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 590,
        "y": 520,
        "wires": [
            [
                "59ebe4b55a395484"
            ]
        ]
    },
    {
        "id": "9a3b0ed1f6820667",
        "type": "inject",
        "z": "9a12c8fa74cda53c",
        "name": "Notification Request",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 960,
        "wires": [
            [
                "32c755fc2f2f5975"
            ]
        ]
    },
    {
        "id": "32c755fc2f2f5975",
        "type": "http request",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:1880/user/iasonas55",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 960,
        "wires": [
            [
                "2660d9490ef71d26"
            ]
        ]
    },
    {
        "id": "ca8fe8f618f714d5",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "Get grades",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 960,
        "wires": []
    },
    {
        "id": "2660d9490ef71d26",
        "type": "json",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 710,
        "y": 960,
        "wires": [
            [
                "ca8fe8f618f714d5"
            ]
        ]
    },
    {
        "id": "1cd894d5c9f71126",
        "type": "inject",
        "z": "9a12c8fa74cda53c",
        "name": "Notification Request",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 1380,
        "wires": [
            [
                "b150c35a85a146a7"
            ]
        ]
    },
    {
        "id": "b150c35a85a146a7",
        "type": "http request",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:1880/user/Iasonas/notifications",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 1380,
        "wires": [
            [
                "bc7f6e8ff4182d73"
            ]
        ]
    },
    {
        "id": "f4028ff681185172",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "Get grades",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 1380,
        "wires": []
    },
    {
        "id": "bc7f6e8ff4182d73",
        "type": "json",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 590,
        "y": 1380,
        "wires": [
            [
                "f4028ff681185172"
            ]
        ]
    },
    {
        "id": "4567085bb1e80235",
        "type": "inject",
        "z": "9a12c8fa74cda53c",
        "name": "Notification Request",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 330,
        "y": 1600,
        "wires": [
            [
                "a5d36ddbfc5da1ef"
            ]
        ]
    },
    {
        "id": "a5d36ddbfc5da1ef",
        "type": "http request",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:1880/user/Iasonas/notifications/12",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 1600,
        "wires": [
            [
                "370d4cd4a55d06e0"
            ]
        ]
    },
    {
        "id": "55f593696f1be9cb",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "Get grades",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 1600,
        "wires": []
    },
    {
        "id": "370d4cd4a55d06e0",
        "type": "json",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 1600,
        "wires": [
            [
                "55f593696f1be9cb"
            ]
        ]
    },
    {
        "id": "7ffd78411017993a",
        "type": "inject",
        "z": "9a12c8fa74cda53c",
        "name": "Notification Request",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 330,
        "y": 2060,
        "wires": [
            [
                "196699185c5a425b"
            ]
        ]
    },
    {
        "id": "196699185c5a425b",
        "type": "http request",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:1880/admin/notifications/12",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 2060,
        "wires": [
            [
                "b25c97acde3289fa"
            ]
        ]
    },
    {
        "id": "4a826febed9fb668",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "Get grades",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 2060,
        "wires": []
    },
    {
        "id": "b25c97acde3289fa",
        "type": "json",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 2060,
        "wires": [
            [
                "4a826febed9fb668"
            ]
        ]
    },
    {
        "id": "efa53115a850a524",
        "type": "inject",
        "z": "9a12c8fa74cda53c",
        "name": "post message",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 2340,
        "wires": [
            [
                "bef98c82a38461ca"
            ]
        ]
    },
    {
        "id": "e8464729a02f759a",
        "type": "http request",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:1880/admin/notifications",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "text/plain",
                "valueValue": ""
            }
        ],
        "x": 510,
        "y": 2340,
        "wires": [
            [
                "c01804f4a0e2de43"
            ]
        ]
    },
    {
        "id": "092feaee6b5a0d3a",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "initial data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 2340,
        "wires": []
    },
    {
        "id": "c01804f4a0e2de43",
        "type": "json",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 2340,
        "wires": [
            [
                "092feaee6b5a0d3a"
            ]
        ]
    },
    {
        "id": "bef98c82a38461ca",
        "type": "function",
        "z": "9a12c8fa74cda53c",
        "name": "function 12",
        "func": "msg.payload = {\n\n  \"title\": \"anavoli \",\n  \"body\": \"anavoli gia avrio\"\n}\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 2340,
        "wires": [
            [
                "e8464729a02f759a"
            ]
        ]
    },
    {
        "id": "9bd2ecf3c9f3b4ca",
        "type": "function",
        "z": "9a12c8fa74cda53c",
        "name": "loadPathParameter",
        "func": "let notification = JSON.parse(msg.req.body) ;\n//msg.topic = notification ; \n\nmsg.payload = notification\n// msg.topic = editClass;\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 486,
        "y": 2242,
        "wires": [
            [
                "10c08fbea1b710d8",
                "523359482a2a868d",
                "8bf7dcfe135bcb09"
            ]
        ]
    },
    {
        "id": "523359482a2a868d",
        "type": "http response",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 750,
        "y": 2260,
        "wires": []
    },
    {
        "id": "8bf7dcfe135bcb09",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "username",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 2240,
        "wires": []
    },
    {
        "id": "cfbf18dad6358562",
        "type": "inject",
        "z": "9a12c8fa74cda53c",
        "name": "edit notification Request",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1440,
        "y": 4900,
        "wires": [
            [
                "4c64cd995eda9133"
            ]
        ]
    },
    {
        "id": "5a1c86cfd45547e8",
        "type": "http request",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:1880/admin/notifications/12",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "text/plain",
                "valueValue": ""
            }
        ],
        "x": 1950,
        "y": 4900,
        "wires": [
            [
                "f3ca48e596fab9ca"
            ]
        ]
    },
    {
        "id": "e810ef14ae202e21",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "initial data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2280,
        "y": 4900,
        "wires": []
    },
    {
        "id": "4c64cd995eda9133",
        "type": "function",
        "z": "9a12c8fa74cda53c",
        "name": "function 13",
        "func": "msg.payload = {\n\n    \"title\": \"kales diakopes\",\n    \"body\": \"elpzio na exete ena omorfo kalokairi\"\n\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1740,
        "y": 4900,
        "wires": [
            [
                "5a1c86cfd45547e8"
            ]
        ]
    },
    {
        "id": "f3ca48e596fab9ca",
        "type": "json",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 2130,
        "y": 4900,
        "wires": [
            [
                "e810ef14ae202e21"
            ]
        ]
    },
    {
        "id": "a9febad335255f95",
        "type": "debug",
        "z": "9a12c8fa74cda53c",
        "name": "className",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 4620,
        "wires": []
    },
    {
        "id": "309b1fea210a6f51",
        "type": "http response",
        "z": "9a12c8fa74cda53c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1190,
        "y": 4860,
        "wires": []
    },
    {
        "id": "775aca05fbec61c7",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "tester",
        "name": ""
    }
]